# EB configs
commands:
  01-command:
    command: echo 'Defaults:root    !requiretty' >> /etc/sudoers
container_commands:
  01_write_leader_marker:
    command: touch /tmp/is_leader
    leader_only: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_artisan.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -eu
      if [ -f /tmp/is_leader ]
      then
        rm /tmp/is_leader
        CONTAINER_ID=`docker ps -l -q -f 'status=running'`
        docker exec $CONTAINER_ID php artisan migrate:refresh --force
        docker exec $CONTAINER_ID php artisan db:seed --force
      fi
  
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_copy_static_files.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -eu
      CONTAINER_ID=`docker ps -l -q -f 'status=running'`
      docker cp $CONTAINER_ID:/var/www/html/public /var/www